facturas_texto/parseo/facturas/*
!facturas_texto/parseo/facturas/.gitkeep 

facturas_imagen/reconocimiento/imagenes/*
!facturas_imagen/reconocimiento/imagenes/.gitkeep

facturas_imagen/reconocimiento/ocr_crudo/*
!facturas_imagen/reconocimiento/ocr_crudo/ocr_test_resources

facturas_imagen/parseo/ocr_crudo/*
!facturas_imagen/parseo/ocr_crudo/.gitkeep

facturas_imagen/parseo/dataframes/*
!facturas_imagen/parseo/dataframes/.gitkeep

completacion/dataframes/*
!completacion/dataframes/.gitkeep
